<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/imobiliaria.css">
    <title>imobiliaria</title>
</head>


<body>
    <header class="header">
        <img class="header-img" src="assets/images/logo-sem-fundo.png" alt="Logo ESTATEC">
        <p class="header-estatec">ESTA<span style="color: #B71E1E;">TEC</span></p>
        <div class="botao-div">
            <a id="inicio" onclick="document.getElementById('main').scrollIntoView({ behavior: 'smooth' });
            " class="header-botao-inicio" href="index.html">Início</a>
            <a id="estagios" onclick="document.getElementById('section-estagios').scrollIntoView({ behavior: 'smooth' });
            " class="header-botao-estagios">Estágios</a>
            <a id="sobre" onclick="document.getElementById('section-sobre').scrollIntoView({ behavior: 'smooth' });
            " class="header-botao-sobre">Sobre</a>
            <a id="links" class="header-botao-perfil" href="#">PERFIL</a>
        </div>
    </header>
    <section class="section-imobiliaria">
        <h1 class="main-title">OPORTUNIDADE DE TRABALHO</h1>
        <h2 class="main-subtitle">Imobiliária</h2>
    </section>
    <main class="main">
        <p class="requisito-imobiliaria"><strong>Requisitos:</strong></p>
        <div>
            <ul class="descricao-imobiliaria">
                    <li>Estudar na Etec;</li>
                    <br>
                    <li>Noções de informática;</li>
                    <br>
                    <li>Principais atividades: Apoio na gestão financeira e atendimento aos clientes;</li>
                    <br>
                    <li>Vontade de aprender;</li>
                    <br>
                    <li>Ter disponibilidade de estagiar no período da manhã ou da tarde;</li>
                    <br>
                    <li>
                        Ser comunicativo, ético, paciente, bom relacionamento interpessoal, comprometido, organizado e proativo;    
                    </li>
                    <br>
                    <li>Bolsa auxílio e auxílio transporte de R$500,00 + Seguro de vida</li>
                    <br>
                    <p>Interessados(as), enviar currículo "em PDF" no e-mail:</p>
                    <p>leandrobordignon@etec.sp.gov.br - O nome do arquivo (currículo em PDF) deve ser seu nome completo</p>
                    <p>Assunto: imobiliária</p>
            </ul>
            
        </div>
    </main>
</body>
</html>