<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/petshop.css">
    <title>PetShop</title>
</head>

<body>
    <header class="header"> <img class="header-img" src="assets/images/logo-sem-fundo.png" alt="Logo ESTATEC">
        <p class="header-estatec">ESTA<span style="color: #B71E1E;">TEC</span></p>
        <div class="botao-div"> <a id="inicio"
                onclick="document.getElementById('main').scrollIntoView({ behavior: 'smooth' });            "
                class="header-botao-inicio">Início</a> <a id="estagios"
                onclick="document.getElementById('section-estagios').scrollIntoView({ behavior: 'smooth' });            "
                class="header-botao-estagios">Estágios</a> <a id="sobre"
                onclick="document.getElementById('section-sobre').scrollIntoView({ behavior: 'smooth' });            "
                class="header-botao-sobre">Sobre</a> <a id="links" class="header-botao-perfil" href="#">PERFIL</a>
        </div>
    </header>
    <main class="section">
        <div class="section-title">
            <h1>OPORTUNIDADE DE ESTÁGIO</h1>
            <h2>PetShop</h2>
        </div>
    </main>
</body>

</html>